{#
/**
 * @file
 * Footer block template.
 */
#}

<a href="#header" class="totop ascroll" title="Go to top">To top</a>
<footer id="footer" class="main-footer">
    <div id="footer-region">
        <div class="container">
            <div class="col12">
                {{ page.footer }}
            </div>
        </div>
    </div>
</footer>
